<div>
    <div id='viewDiv'></div>
    <div id="side-bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="display-box-1" class="display-box">Your Total Running Distance: {{ totalDistance }} m. </div>
                </div>
                <div class="col">
                    <div id="display-box-2" class="display-box">Your Burned Calories: {{ totalCal }} kCal. </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="display-box-3">
                        <p>Your Current Running Speed: {{ Speed[Speed.length-1] }} km/h. </p>
                        <canvas id="myChart" width="450" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>