<div>
    <div id='viewDiv'></div>
    <div id="side-bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="display-box-1" class="display-box">Your Total Running Distance: {{ totalDistance }} m</div>
                </div>
                <div class="col">
                    <div id="display-box-2" class="display-box">Your Burned Calories: {{ 'totalCal' }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="display-box-3">Your Current Running Speed: {{ 'currSpeed' }}</div>
                </div>
            </div>
        </div>

    </div>
</div>