/* import the required JSAPI css */

@import 'https://js.arcgis.com/4.19/esri/themes/light/main.css';
#viewDiv {
    position: absolute;
    top: 4rem;
    /* Header Height */
    bottom: 45%;
    /* Footer Height */
    left: 1%;
    width: 98%;
}

#side-bar {
    position: absolute;
    /* Header Height */
    bottom: 20px;
    /* Footer Height */
    right: 1%;
    width: 98%;
    height: 40%;
    min-height: 200px;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    border-radius: 2rem;
}

.col {
    padding-top: 0.5rem;
}

.display-box {
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    height: 40%;
    min-height: 100px;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

#display-box-3 {
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    height: 40%;
    min-height: 100px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}